[submodule "repos/dotfiles-submodules/Tokyonight-rofi-theme"]
	path = repos/dotfiles-submodules/Tokyonight-rofi-theme
	url = https://github.com/w8ste/Tokyonight-rofi-theme.git
[submodule "/home/brewster/repos/rofi-power-menu"]
	path = /home/brewster/repos/rofi-power-menu
	url = https://github.com/jluttine/rofi-power-menu.git
