[submodule "repos/rofi-power-menu"]
	path = repos/rofi-power-menu
	url = https://github.com/jluttine/rofi-power-menu.git
[submodule "repos/Tokyonight-rofi-theme"]
	path = repos/Tokyonight-rofi-theme
	url = https://github.com/w8ste/Tokyonight-rofi-theme.git
[submodule "repos/blu3jive-wallpapers"]
	path = repos/blu3jive-wallpapers
	url = https://git.27hs.co.uk/forks/blu3jive-wallpapers.git
[submodule "/home/brewster/.tmux/plugins/tpm"]
	path = /home/brewster/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
